.nvidia-model-header {
  color: #76b900;
}

.amd-model-header {
  color: red;
}

.intel-model-header {
  color: #0068b5;
}

[id^="nvidia-"],
[id*="geforce"] {
  border-color: rgba(118, 185, 0, 0.75);
}

[id^="amd-"],
[id*="radeon"] {
  border-color: rgba(186, 0, 0, 0.75); /* subtle transparent red */
}

[id^="intel-"],
[id*="-arc-"] {
  border-color: rgba(0, 104, 181, 0.75); /* subtle transparent blue */
}

/* NVIDIA-styled rows */
[id^="nvidia-"] tbody th,
[id^="nvidia-"] tbody td,
[id*="geforce"] tbody th,
[id*="geforce"] tbody td {
  border-color: rgba(118, 185, 0, 0.25);
}

/* AMD-styled rows */
[id^="amd-"] tbody th,
[id^="amd-"] tbody td,
[id*="radeon"] tbody th,
[id*="radeon"] tbody td {
  border-color: rgba(186, 0, 0, 0.25);
}

/* Intel-styled rows */
[id^="intel-"] tbody th,
[id^="intel-"] tbody td,
[id*="arc-"] tbody th,
[id*="arc-"] tbody td {
  border-color: rgba(0, 104, 181, 0.25);
}
