#page-index {
  width: 100%;
  max-width: 90%;
  max-height: 300px;
  background-color: rgba(12, 12, 12, 0.9);
  margin: 0 auto;
  margin-bottom: 1rem;
  padding: 1rem;
  padding-top: 0;
  padding-bottom: 0;
  border: 2px solid black;
  border-style: groove;
  border-radius: 1rem;
  overflow: auto;
  position: relative;
}

.page-index-title {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10; /* Ensures it stays above the scrollable content */
}

.page-index-list {
  list-style: none;
  margin: 0 auto;
  padding: 0;
}

#show-index-button {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 1rem;
  font-size: 1.2rem;
}

.index-item-button {
  width: 100%;
}

.page-index-list:last-child {
  margin-bottom: 2rem;
}
