#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#logged-field {
  background-color: #151515;
  padding: 0.5rem;
  border: 3px solid #303030;
  border-style: groove;
  border-radius: 0.5rem;
}

#logged-username {
  font-weight: bold;
  margin-right: 1rem;
}

table {
  width: 400px;
  max-width: 400px;
  border: 4px solid black;
  border-style: groove;
  border-radius: 1rem;
  margin-bottom: 2rem;
}

.table-title {
  font-size: x-large;
  font-weight: bold;
}

th,
td {
  border: 2px solid black;
  border-style: groove;
}

th {
  max-width: 50%;
  height: 100%;
  background-color: #121212;
  padding: 0.5rem;
}

td {
  max-width: 300px;
  background-color: black;
  font-weight: bold;
  overflow: auto;
}

.input-table th,
.input-table td {
  padding: 0;
}

.input-table td {
  border-style: inset;
}

input {
  width: 90%;
  height: 100%;
  padding: 0.75rem;
  background-color: black;
}

button {
  background-color: black;
  color: white;
  border: 2px solid #252525;
  border-style: outset;
  font-size: large;
  font-weight: bold;
}

button:active {
  color: #303030;
  border-style: inset;
}

#logout-button {
  font-size: medium;
}

.like-button {
  font-size: medium;
  background-color: #303030;
  margin-left: 1rem;
}

.like-button:active {
  background-color: gray;
}

.login-table td {
  overflow: hidden;
}

.blog-title {
  font-size: x-large;
  text-decoration: underline;
}

thead tr:first-child th {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  padding: 0.5rem;
}

tbody tr:last-child th {
  border-bottom-left-radius: 1rem;
}

tbody tr:last-child td,
.input-table tbody tr:last-child th,
.login-table tbody tr:last-child th {
  border-bottom-right-radius: 1rem;
}

.login-table tr:first-child th {
  border-top-left-radius: 1rem;
}

.login-table tr:first-child td {
  border-top-right-radius: 1rem;
}

.input-table tbody tr:last-child th {
  padding: 0.5rem;
}

label {
  display: block;
  width: 100%;
}