#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: 'digital-dreamers', 'sans-serif';
}

@font-face {
  font-family: 'digital-dreamers';
  src: url('./fonts/DigitalDreamers-jy99.ttf') format('truetype');
}

h1,
table {
  border-radius: 1rem;
}

h1 {
  background-color: rgba(0, 0, 0, 0.9);
  border: 0.15rem solid;
  border-style: double;
  font-size: 2.5rem;
  text-decoration: underline;
  padding: 1rem;
}

#add-gpu-table {
  width: 100%;
  border: 2px solid black;
  padding: 1rem;
  border-style: groove;
  margin-bottom: 3rem;
  background-color: rgba(12, 12, 12, 0.9);
}

#add-gpu-table-header {
  padding: 0.5rem;
  font-size: 1.2rem;
}

#add-gpu-table th {
  text-align: left;
}

#add-gpu-table input {
  padding: 0.4rem;
  font-family: 'digital-dreamers';
}

#add-gpu-table button,
#gpu-data-table button {
  background-color: black;
  font-size: 1rem;
  font-family: 'digital-dreamers';
  margin-top: 1rem;
  border-style: outset;
}

#add-gpu-table button:active,
#gpu-data-table button:active {
  background-color: black;
  font-size: 1rem;
  font-family: 'digital-dreamers';
  margin-top: 1rem;
  color: #505050;
  border-style: inset;
}

#gpu-data-table {
  width: 100%;
  max-width: 100%;
  border: 0.25rem solid black;
  border-style: groove;
  margin-bottom: 3rem;
}

#gpu-data-table th, 
#gpu-data-table td {
  border: 0.1rem solid black;
  border-style: groove;
  padding: 1.2rem;
  font-size: 0.9rem;
}

#gpu-data-table th {
  background-color: rgba(12, 12, 12, 0.9);
}

#gpu-data-table td {
  background-color: rgba(20, 20, 20, 0.9);
  font-weight: bold;
  border-style: inset;
}

#gpu-data-table #delete-gpu-button {
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  background-color: rgba(5, 5, 5, 0.9);
}

#gpu-data-table .nvidia-model-header,
#gpu-data-table .amd-model-header,
#gpu-data-table .intel-model-header,
#gpu-data-table .model-header {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  font-size: 1.4rem;
  font-weight: bold;
  border-style: groove;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

#gpu-data-table .table-header {
  width: 100%;
  background-color: rgba(5, 5, 5, 0.9);
  font-size: 1.2rem;
  font-weight: bold;
  border-style: groove;
}

.nvidia-model-header {
  color: #76b900;
}

.amd-model-header {
  color: red;
}

.intel-model-header {
  color: #0068B5;
}

@media only screen and (hover: none) and (pointer: coarse) {
  #root {
    padding: 0.5rem;
  }

  #add-gpu-table label {
    display: block; /* Forces label onto its own line */
    width: 100%; /* Ensures labels take full width */
    text-align: left; /* Centers label text */
    margin-bottom: 0.3rem; /* Adds spacing between label and input */
  }
  
  #add-gpu-table input {
    display: block; /* Ensures inputs are also on their own line */
    width: 100%; /* Matches label width */
    max-width: 200px; /* Optional: Adjust as needed */
    margin: 0 auto; /* Centers input */
  }
}

@media only screen and (hover: none) and (pointer: coarse) and (orientation: landscape) {
  #root {
    max-width: 500px;
  }
}